$gears-color: #303030 !default;
$gears-action-color: #F88000 !default;
$gears-error-color: #D84030 !default;
$gears-error-bg-color: #FFE8E0 !default;
$gears-success-color: #409040 !default;
$gears-success-bg-color: #E0F0E0 !default;
$gears-info-color: #3080A0 !default;
$gears-info-bg-color: #d8f0f8 !default;
$gears-link-color: #00afdb !default;
$gears-selection-color: #b3d4fc !default;
$gears-gray-color: #c0c0c0 !default;
$gears-light-gray-color: #f8f8f8;
